.remove-button {
  width: 2em;
  height: 2em;
  font-weight: 700;
  background-color: #ff8080;
  border: none;
  border-radius: 50%;
  transition: background-color 160ms ease-in-out;
}

.remove-button:hover {
  background-color: #ff0000;
}
