.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  padding: 1em;
  height: 100vh;
}

h1 {
  margin: 1em 0;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mbkrocks {
  margin-top: 2em;
  color: #aaa;
}

.result-button {
  width: 8em;
  height: 6em;
  font-weight: 700;
  font-size: 1.3em;
  align-self: center;
  border: none;
  border-radius: 27px;
  background-color: #ffdd00;
  transition: background-color 160ms ease-in-out;
}

.result-button:hover {
  background-color: #eecc00;
}

.output {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  text-align: center;
}

button {
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-of {
  display: flex;
  flex-direction: column;
}
